.label__margin {
    margin-left: 20px;
}

.label__font {
    font-weight: 400 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, .68);
}

.date-input__width {
    width: 120px !important;
}

// .date-input__width {
//     width: 150px !important;
// }
.container__padding {
    padding: 30px;
}

// .search-box {
//     min-width: 310px;
// }
.full-width {
    width: 100%;
}