mat-form-field {
    width: 150px !important;
}

.label__margin {
    margin-left: 20px;
}

.label__font {
    font-weight: 400 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, .68);
}

mat-form-field {
    padding: 0px !important;
    margin-bottom: -10px !important;
}

.container__padding {
    padding: 0px 3px;
}
.search-box {
  min-width: 310px;
}
