.label__margin {
    margin-left: 20px;
}

.label__font {
    font-weight: 400 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, .68);
}

.date-input__width {
    width: 150px !important;
}

mat-form-field {
    padding: 0px !important;
    margin-bottom: -10px !important;
}

.container__padding {
    padding: 10px;
}

.search-box {
    min-width: 310px;
}

.full-width {
    width: 100%;
}