<button mat-icon-button [matMenuTriggerFor]="menu" class="more-button__hover">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
<button mat-menu-item>
  <mat-icon>edit</mat-icon>
  <span>Edit</span>
</button>
<button mat-menu-item disabled>
  <mat-icon>share</mat-icon>
  <span>Share</span>
</button>
<button mat-menu-item>
  <mat-icon>file_download</mat-icon>
  <span>Download</span>
</button>
<button mat-menu-item>
  <mat-icon>delete</mat-icon>
  <span>Delete</span>
</button>
<button mat-menu-item>
  <mat-icon>info</mat-icon>
  <span>Information</span>
</button>
</mat-menu>
