<div class="mat-elevation-z6">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <app-table-menu></app-table-menu>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field fxHide.xs="true">
                <input matInput (keyup)="storeFilterValue($event.target.value)">
                <mat-placeholder>
                    <mat-icon>search</mat-icon> Search term
                </mat-placeholder>
            </mat-form-field>
            <button *ngIf="!(advancedFilteringEnabled)" (click)="toggleAdvancedFiltering()" mat-icon-button>
                <mat-icon>expand_more</mat-icon>
            </button>
            <button *ngIf="advancedFilteringEnabled" (click)="toggleAdvancedFiltering()" mat-icon-button>
                <mat-icon>expand_less</mat-icon>
            </button>
        </div>
    </div>
    <app-advanced-filtering *ngIf="advancedFilteringEnabled"></app-advanced-filtering>
    <app-metadata-table
      [filterValue]="filterValue"
      [columns]="columns"
      [dataSource]="dataSource"
      (rowSelectionChanged)="updateSelectedRowCount($event);"
      *ngIf="currentView === 'metadata'">
    </app-metadata-table>
    <app-keywords-table
      [filterValue]="filterValue"
      [columns]="columns"
      [dataSource]="dataSource"
      (rowSelectionChanged)="updateSelectedRowCount($event);"
      *ngIf="currentView === 'keywords'">
    </app-keywords-table>
    <app-thumbnails-table
      [dataSource]="dataSource"
      *ngIf="currentView === 'thumbnails'">
    </app-thumbnails-table>
    <app-table-footer [numberOfSelectedItems]="numberOfSelectedItems"></app-table-footer>
</div>
