<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field class="search-box">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>

    <span class="fill-remaining-space"></span>
    <mat-button-toggle-group #group="matButtonToggleGroup" value="metadata">
        <mat-button-toggle value="metadata">
            Metadata
        </mat-button-toggle>
        <mat-button-toggle value="keywords">
            Keywords
        </mat-button-toggle>
        <mat-button-toggle value="thumbnails">
            Thumnails
        </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-button><mat-icon>menu</mat-icon></button>
</div>
<app-metadata-table *ngIf="group.value === 'metadata'"></app-metadata-table>
<app-keywords-table *ngIf="group.value === 'keywords'"></app-keywords-table>
<app-thumbnails-table *ngIf="group.value === 'thumbnails'"></app-thumbnails-table>