$selected-color: #f5f5f5;
$hover-color: #EEEEEE;
.mat-header-cell {
    font-size: 15px;
    font-weight: 600;
}

.mat-row:hover {
    background-color: $hover-color;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

// Every table needs to have height set and they must match. Thumbnails and map have theirs in their scss
.mat-table {
    overflow: auto;
    max-height: 500px;
}

// Sticky header row
.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.small-column__width {
    flex: 0 0 100px !important;
}

// CHECKBOXES
.mat-column-select {
    overflow: initial;
}

.selected {
    background-color: $selected-color;
}

.row-density__low {
    min-height: 60px !important;
}

.row-density__medium {
    min-height: 48px !important;
}

.row-density__high {
    min-height: 40px !important;
}