<button mat-button [matMenuTriggerFor]="menu" class="menu__width protractor-table-menu">
    <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="showSelectedOnly === false" (click)="showSelected();">
        <mat-icon>filter_center_focus</mat-icon>
        <span>Show only selected rows</span>
    </button>
    <button mat-menu-item *ngIf="showSelectedOnly === true" (click)="showSelected();">
            <mat-icon>crop_free</mat-icon>
            <span>Show all rows</span>
        </button>
    <button mat-menu-item (click)="shiftColumns();">
        <mat-icon>subdirectory_arrow_left</mat-icon>
        <span>Shift columns left</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="density">
      <mat-icon>reorder</mat-icon>
      <span>Row density</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="columns">
        <mat-icon>view_column</mat-icon>
        <span>Displayed columns</span>
  </button>
</mat-menu>

<mat-menu #density="matMenu">
    <button mat-menu-item (click)="changeDensity('low');">Low</button>
    <button mat-menu-item (click)="changeDensity('medium');">Medium</button>
    <button mat-menu-item (click)="changeDensity('high');">High</button>
</mat-menu>

<mat-menu #columns="matMenu">
    <button mat-menu-item *ngFor="let column of currentlyShownColumns" (click)='popAColumn(column)'>{{column.displayName}}</button>
</mat-menu>