<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <app-table-menu [isDisabled]="numberOfSelectedItems === 0?  true : false"></app-table-menu>
      <span *ngIf="numberOfSelectedItems > 0">{{numberOfSelectedItems}} {{numberOfSelectedItems > 1 ? 'items' : 'item'}} selected</span>
  </div>
  <div>
    <mat-button-toggle-group #group="matButtonToggleGroup" value="metadata" (change)="setCurrentView($event)">
        <mat-button-toggle value="metadata">
            <mat-icon>bubble_chart</mat-icon>
            <!-- <i class="material-icons">blur_linear</i> -->
        </mat-button-toggle>
        <mat-button-toggle value="keywords">
            <i class="material-icons">reorder</i>
        </mat-button-toggle>
        <mat-button-toggle value="thumbnails">
            <mat-icon>apps</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="map">
            <mat-icon>pin_drop</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
