<div class="table-container">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- Column header definitions -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="small-column__width">
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="small-column__width">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- Dynamic columns -->
        <ng-container [matColumnDef]="column.id" *ngFor="let column of dynamicColumnDefs">
            <mat-header-cell *matHeaderCellDef [mat-sort-header]="column.property" [fxFlex]="column.width + 'px'"> {{column.headerText}} </mat-header-cell>
            <mat-cell *matCellDef="let row" [fxFlex]="column.width + 'px'"> {{row[column.property]}} </mat-cell>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="small-column__width">Actions</mat-header-cell>
            <mat-cell *matCellDef="let row" class="small-column__width">
                <app-row-menu></app-row-menu>
            </mat-cell>
        </ng-container>

        <!-- Cells -->
        <mat-header-row *matHeaderRowDef="dynamicColumnIds"></mat-header-row>
        <mat-row *matRowDef="let row; columns: dynamicColumnIds;" [ngClass]="getRowClasses(row)"></mat-row>
    </mat-table>
</div>