<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true">

    <agm-marker *ngFor="let document of dataSource.data; let i = index" [latitude]="document.latitude" [longitude]="document.longitude" [label]="document.name" [markerDraggable]="false">

        <agm-info-window>
            <strong>{{document.name}}</strong>
            <div>Document ID: {{document.id}}</div>
            <div>Author: {{document.author}}</div>
            <div>Date Created: {{document.dateCreated}}</div>
            <div class="image-container">
                <img [src]="document.imageUrl">
            </div>

        </agm-info-window>

    </agm-marker>

    <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
    </agm-circle> -->

</agm-map>