.thumbnails-container {
    overflow-x: auto;
    height: 606px;
}

mat-grid-list {
    overflow: auto;
    max-height: 606px;
}

.image-container,
img {
    text-align: center;
    width: 90%;
    height: 90%;
}

.overflow-hide {
    overflow: hidden;
    white-space: nowrap;
}

img {
    border: 3px solid #eee;
}

.selected {
    border: 3px solid #fc4482;
}