.thumbnails-container {
    overflow-x: auto;
    height: 606px;
}

mat-grid-list {
    overflow: auto;
    max-height: 606px;
}

.image-container,
img {
    text-align: center;
    width: 92%;
    height: 92%;
}

.overflow-hide {
    overflow: hidden;
    white-space: nowrap;
}