::ng-deep mat-button-toggle-group {
    box-shadow: none !important;
}

.search-box {
    min-width: 300px;
}

.menu-row__padding {
    padding-top: 5px;
}

.expand-button__margin {
    margin-right: 10px;
}