::ng-deep mat-button-toggle-group {
    box-shadow: none !important;
}

.search-box {
    min-width: 300px;
}

.menu-row__padding {
    padding-top: 5px;
    background: #fff;
}

.expand-button__margin {
    margin-right: 10px;
}

// I wish this worked.
// .limit-height {
//     height: 600px;
//     max-height: 600px;
// }