::ng-deep mat-button-toggle-group {
    box-shadow: none !important;
}

.search-box {
    min-width: 300px;
}

.menu-row__padding {
    padding-top: 5px;
    // max-height: 62px !important;
}

.expand-button__margin {
    margin-right: 10px;
}

// .sidenav__width {
//     width: 300px;
// }