<mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{document.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{document.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header> author </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{document.author}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateCreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header> dateCreated </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{document.dateCreated | date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastModified">
        <mat-header-cell *matHeaderCellDef mat-sort-header> lastModified </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{document.lastModified | date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="imageUrl">
        <mat-header-cell *matHeaderCellDef mat-sort-header> imageUrl </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{document.imageUrl}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Link">
        <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
        <mat-cell *matCellDef="let document">
            <a href="{{document.Link}}" mat-raised-button color="primary" target="_blank">Open</a>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="setClickedRow(i, row)" [class.active]="i == selectedRow"></mat-row>
</mat-table>