<div fxLayout="row" fxLayoutAlign="center center" class="container__padding">
    <div>
        <!-- <mat-form-field class="search-box" style="margin-right: 40px; min-width: 250px;">
            <input matInput (keyup)="storeFilterValue($event.target.value)" placeholder="Search term">
        </mat-form-field> -->

        <mat-form-field>
            <input matInput [matDatepicker]="fromPicker" placeholder="From">
            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="toPicker" placeholder="To">
            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
    </div>
    <!-- <div>
        <span class="label__font">ID range:</span>
        <mat-form-field>
            <input matInput placeholder="From">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="To">
        </mat-form-field>
    </div> -->
</div>